.a {
	height: 100vh;
	display: flex;
}
.a-right {
	flex: 1;
	padding: 150px 20px;
}

.a-left {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.a-card.bg {
	background-color: rgb(88, 86, 86);
	position: absolute;
	top: 50px;
	left: 50px;
}
.a-card {
	height: 70vh;
	width: 60%;
	border-radius: 30px;
	overflow: hidden;
}
.a-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: relative;
}
.a-title {
	font-weight: 700;
}
.a-sub {
	margin: 20px 0px;
}
.a-desc {
	font-weight: 300;
	width: 90%;
}
@media screen and (max-width: 480px) {
	.a {
		flex-direction: column;
		text-align: center;
		margin-top: 50px;
	}
	.a-left {
		width: 100%;
	}
	.a-card {
		height: 30vh;
	}
	.a-card.bg {
		display: none;
	}
	.a-right {
		padding: 20px;
	}
}
